  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://res.cloudinary.com/daf0zj13q/image/upload/v1613121656/photo-1525489196064-0752fa4e16f2_ciffra.jpg');">
  <div class="container">
    <h1>WELCOME TO THE<br>DIY PLANNER</h1>
    <%= link_to 'Create Event',  new_group_event_path, class: "btn btn-primary" %>
  </div>
</div>