.navbar-lewagon {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 30px;

  a {
    color:white;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.8s;
    padding-top: 10px;
    padding-right: 2rem;
  }
  a:hover {
    color: $links-danger;
  }
  .login {
    border: 1px solid;
    padding: 10px 15px;
    border-radius: 4px
  }
}
.navbar-home {
  background: transparent;
  box-shadow: none;

  a {
    padding-right: 2rem;
    color: white;
    font-weight: bold;
    transition-property: color;
    transition-duration: 0.8s;
  }
  a:hover {
    color: white;
  }

  .dropdown-menu-right {
    a {
      color:$links-danger;
      font-weight: bold;
      text-decoration: none;
      transition-duration: 0.8s;
      padding-right: 2rem;
    }
  }

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}
